.answer-section{
    width: 97%;
    margin:auto;
    border-right: 2.5px dashed #6E5EFE;
    border-left: 2.5px dashed #6E5EFE;
}

.card{
    width: 95%;
    margin: auto;
    margin-top: 2%;
}

.button-answer{
    float: right;
    font-weight: bold;
}

.answer-card-text{
    font-size: 1.8vw;
    // font-weight: bold;
    color: black;
}

.blockquote-footer{
    font-size: 1.2rem;
    color: black;
    // text-align: right;
}

.title-answers{
    font-weight: bold;
    font-size: 1.8rem;
}